.bordered {
  border: 1px dashed red;
}

body {
  font-family: "Lato", sans-serif;
}

.wrapper-container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    to bottom,
    #009688 0%,
    #009688 15%,
    #d6dbd6 16%,
    #d6dbd6 100%
  );
}

.chat-container {
  display: flex;
  width: 80%;
  height: 90%;
}

/* CONTACT SECTION */

#contact-section {
  display: flex;
  flex-direction: column;
  width: 35%;

  background-color: #ffffff;
  border-right: 1px solid gray;
}

#contact-list-container {
  flex-grow: 1;
  overflow: auto;
}

/* CHAT SECTION */

#chat-section {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.section-head,
.section-write-message {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-shrink: 0;

  padding-left: 15px;
  padding-right: 15px;

  background-color: #eaeaea;
  height: 70px;
}

.section-chat {
  flex-grow: 1;
  overflow: auto;
  background-image: url(../img/mine.jpg);
}

/* AVATAR IMAGE */

.avatar-img {
  height: 45px;
  aspect-ratio: 1;
  border-radius: 50%;

  object-fit: cover;
  object-position: center;
}

/* ICONS */

.icons-container i {
  color: rgb(154, 154, 154);
  font-size: 1.2rem;
  margin-left: 10px;
  margin-right: 10px;

  cursor: pointer;
}

/* NOTIFICATION */

.notification-container {
  display: flex;
  align-items: center;
}

.notification-bell {
  background-color: white;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 1.3rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.notification-title,
.notification-subtitle {
  display: block;

  margin-left: 15px;
}

.notification-title {
  font-weight: bold;
  font-size: 0.9rem;
}

.notification-subtitle {
  font-size: 0.8rem;
  text-decoration: underline;
  color: rgba(131, 131, 131, 0.753);

  cursor: pointer;
}

/* SEARCH BAR */

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar i {
  padding: 10px 20px 10px 20px;
  border: 0.8px solid lightgray;
  color: rgb(154, 154, 154);
  border-radius: 5px 0 0 5px;

  cursor: pointer;
}

/* CONTACT LIST */

li {
  list-style: none;
}

.contact {
  display: flex;
  border-top: 1px solid lightgray;
  padding-top: 1rem;
  padding-bottom: 1rem;

  cursor: pointer;
}

.contact-container {
  display: flex;
  /*   align-items: center; */

  width: 80%;

  padding-left: 15px;
}

.contact-container > img {
  height: 55px;
  aspect-ratio: 1;
}

.contact-description {
  margin-left: 10px;
}

.username {
  font-weight: bold;
}

.last-message {
  font-size: 0.8rem;
  color: rgb(167, 167, 167);
}

.last-message-time {
  flex-grow: 1;
  padding-right: 15px;
  text-align: end;
  font-size: 0.8rem;
  color: rgb(167, 167, 167);
}

.active-contact {
  background-color: rgb(232, 232, 232);
}

/* CHAT IMAGE CONTAINER */

.chat-img-container {
  display: flex;
  align-items: center;
}

.active-chat-text {
  margin-left: 10px;
}

.active-chat-title {
  font-weight: bold;
}

.last-access {
  font-size: 0.7rem;
  color: rgb(138, 138, 138);
}

/* CHAT MAIN */

.chat-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 80%;

  margin: auto;
  margin-top: 30px;

  font-size: 0.8rem;
}

.message {
  width: 40%;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  padding-right: 0.4rem;
  border-radius: 10px;
}

.message.sent {
  align-self: flex-end;
  background-color: #d5f9ba;
}

.message.received {
  align-self: flex-start;
  background-color: #ffffff;
}

.message-date {
  font-size: 0.7rem;
  color: rgb(157, 157, 157);
  text-align: end;
}

/* WRITE MESSAGE */

.section-write-message {
  display: flex;
}

.emoji-selection,
.audio-input {
  width: 10%;
  text-align: center;
  font-size: 1.5rem;

  color: grey;

  cursor: pointer;
}

.text-input {
  flex-grow: 1;
  padding: 1rem;
}
